.debug{
    /*display: none;*/
    border: 1px dotted mediumvioletred;
}
.cost-anmerkung{
    margin-top: 30px;
    border-top: 1px dashed green;
    padding: 15px;
    background-color: greenyellow;
}
.pages-cost-edit{
    border: 1px solid black;
    background-color: lightcyan;
    position: absolute;
    top: 50px;
    left: 50px;
    padding: 15px;
}
.pages-cost-edit td{
    border-right: 1px dotted darkgray;
    padding: 3pt 5pt;
}
.deviderrow td{
    border-top: 1px dotted darkgray;
}
.cost-table td{
    border: 0;
}

.table-moneyio tr td{
    vertical-align: top;
    border: 0;
}
.table-moneyio-sum{
    padding-right: 17px;
    border-top: 1px dashed black !important;
    border-bottom: 1px solid black !important;
}

.red-text{
    color: red;
}
.green-text{
    color: green;
}
.yellow-text{
    color:#ffdd00;
}

/* === Buttons == */

.button-edit:before{
    content: "";
    background: url('../../view/graphics/jqueryui.png') no-repeat -68px -116px;
    width: 9px;
    height: 9px;
    float: left;
    margin: 2pt 4pt 0 0;
}
.button-delete:before{
     content: "";
     background: url('../../view/graphics/jqueryui.png') no-repeat -180px -100px;
     width: 9px;
     height: 10px;
     float: left;
     margin: 1.5pt 4pt 0 0;
 }
.button-add:before{
    content: "";
    background: url('../../view/graphics/jqueryui.png') no-repeat -20px -133px;
    width: 8px;
    height: 8px;
    float: left;
    margin: 3pt 4pt 0 0;
}
.button-cancel:before{
    content: "";
    background: url('../../view/graphics/jqueryui.png') no-repeat -85px -133px;
    width: 7px;
    height: 7px;
    float: left;
    margin: 3.5pt 4pt 0 0;
}
.button-save:before{
    content: "";
    background: url('../../view/graphics/jqueryui.png') no-repeat -197px -100px;
    width: 7px;
    height: 9px;
    float: left;
    margin: 2.5pt 4pt 0 0;
}
/* == / end buttons == */

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-size: 12px;
    line-height: 1.4;
    visibility: visible;
    filter: alpha(opacity=0);
    opacity: 0;
}
.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}
.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}
.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}
.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    border-radius: 4px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    left: 5px;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.top-right .tooltip-arrow {
    right: 5px;
    bottom: 0;
    border-width: 5px 5px 0;
    border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    left: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    right: 5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000;
}
