<form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()" onshow="prepareForm()">
    <table class="table-moneyio">
        <tr>
            <td>
                <table-moneyio-col col="table.entries.in"  extra="table.extra.in"  io="in"  tform="tableform"></table-moneyio-col>
            </td>
            <td>
                <table-moneyio-col col="table.entries.out" extra="table.extra.out" io="out" tform="tableform"></table-moneyio-col>
            </td>
            <td></td>
            <td></td>
        </tr>

        <tr>
            <td class="cost-table-numeric table-moneyio-sum">{{ moneyioDataService.colSum(table.entries.in, table.extra.in) | currency }}</td>
            <td class="cost-table-numeric table-moneyio-sum">{{ moneyioDataService.colSum(table.entries.out, table.extra.out) | currency }}</td>
            <td class="cost-table-numeric table-moneyio-sum" ng-class="{red:'red-text', yellow:'yellow-text', green: 'green-text'}[moneyioDataService.diffColor(table.extra)]" data-type="info" data-title="Differenz (Prognose)" bs-tooltip>{{ moneyioDataService.diff(table.extra) | currency }}</td>
            <td class="cost-table-numeric table-moneyio-sum" ng-class="{red:'red-text', yellow:'yellow-text', green: 'green-text'}[moneyioDataService.diffRColor(table.extra)]" data-type="info" data-title="Differenz (Real)" bs-tooltip>{{ moneyioDataService.diffR(table.extra) | currency }}</td>
        </tr>
    </table>

    <!-- buttons -->
    <div class="btn-edit">
        <button type="button" class="button-edit" ng-show="!tableform.$visible" ng-click="tableform.$show()">edit</button>
    </div>
    <div class="btn-form" ng-show="tableform.$visible">
        <button type="submit" ng-disabled="tableform.$waiting" class="button-save">save</button> |
        <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="button-cancel">cancel</button>
    </div>
</form>


<div class="debug" style="margin-top: 30px;">
    {{ table.entries || "&nbsp;" | json }}
</div>
<div class="debug" style="margin-top: 30px;">
    {{ table.extra || "&nbsp;" | json }}
</div>