<table class="cost-table">
    <thead>
    <tr>
        <th>Position</th>
        <th>Anzahl (normal)</th>
        <th>Satz (est)</th>
        <th>Summe</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in dataService.calc">
        <td>{{row.pos}}</td>
        <td class="cost-table-numeric">{{row.cnt()}}</td>
        <td class="cost-table-numeric">{{row.val() | currency}}</td>
        <td class="cost-table-numeric">{{row.sum() | currency}}</td>
    </tr>
    <tr>
        <td>(Vorkasse)</td>
        <td></td>
        <td></td>
        <td>{{table.amount || 0 | currency}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td class="cost-table-invisible"></td>
        <td class="cost-table-invisible"></td>
        <td class="cost-table-invisible"></td>
        <td>{{dataService.sum() | currency}}</td>
    </tr>
    </tfoot>
</table>
<button type="button" ng-click="table.editTable()" class="button-edit" ng-hide="table.editmode" >edit</button>
<table-price-edit></table-price-edit>

<div class="debug" style="margin-top: 30px;">
    {{ table.base || "&nbsp;" | json }}
</div>
<div class="debug" style="margin-top: 30px;">
    {{ dataService.base || "&nbsp;" | json }}
</div>