<form editable-form name="tableform" onaftersave="saveTable()" oncancel="cancel()">
    <table class="table-moneyio">
        <tr>
            <td>
                <table-moneyio-col col="table.entries.in" io="in" tform="tableform"></table-moneyio-col>
            </td>
            <td>
                <table-moneyio-col col="table.entries.out" io="out" tform="tableform"></table-moneyio-col>
            </td>
            <td></td>
        </tr>

        <tr>
            <td class="cost-table-numeric table-moneyio-sum">{{ table.colSum(table.entries.in) | currency }}</td>
            <td class="cost-table-numeric table-moneyio-sum">{{ table.colSum(table.entries.out) | currency }}</td>
            <td class="cost-table-numeric table-moneyio-sum" ng-class="{red:'red-text', yellow:'yellow-text', green: 'green-text'}[table.diffColor()]">{{ table.diff() | currency }}</td>
        </tr>
    </table>

    <!-- buttons -->
    <div class="btn-edit">
        <button type="button" class="button-edit" ng-show="!tableform.$visible" ng-click="tableform.$show()">edit</button>
    </div>
    <div class="btn-form" ng-show="tableform.$visible">
        <button type="submit" ng-disabled="tableform.$waiting" class="button-save">save</button> |
        <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="button-cancel">cancel</button>
    </div>
</form>


<div class="debug" style="margin-top: 30px;">
    {{ table.entries | json }}
</div>