<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="ui.css" rel="stylesheet"/>
    <script src="../../js/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="../../js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="jslib/d3.min.js" type="text/javascript"></script>
    <script src="jslib/priority-queue.min.js" type="text/javascript"></script>
    <script src="jslib/checkLineIntersection.js" type="text/javascript"></script>
    <script src="../../js/api.js" type="text/javascript"></script>
    <script src="js/events.js" type="text/javascript"></script>
    <script src="js/achievements.js" type="text/javascript"></script>
    <script src="js/svgUtils.js" type="text/javascript"></script>
    <script src="js/pathFinder.js" type="text/javascript"></script>
    <script src="js/vector.js" type="text/javascript"></script>
    <script src="js/character.js" type="text/javascript"></script>
    <script src="js/camera.js" type="text/javascript"></script>
    <script src="js/environment.js" type="text/javascript"></script>
    <script src="js/story.js" type="text/javascript"></script>
    <script src="js/game.js" type="text/javascript"></script>
</head>
<body>
<script type="text/javascript">
    var env_possible_dates = ["{debug1}", "{debug2}", "{debug3}"];
</script>
<div id="game-root-container">
    <div id="game-sidebar" class="bordered-box">
        <div class="sidebar-section">
            <div class="sidebar-section-head">Game log</div>
            <div class="sidebar-log">
                <div>
                    <ul id="game-log">
                        <li>Gehe in das Schloss!</li>
                        <li>Bestes Anmeldesystem aller Zeiten gestartet!</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sidebar-section">
            <div class="sidebar-section-head">Achievements</div>
            <div class="status-bar" id="achievement-progress" style="margin-bottom: 0.5em"><span style="width:25%"
                                                                                                 class="status-bar-bar"></span>

                <div class="status-bar-text">{debug4}/43</div>
            </div>
            <div class="sidebar-log">
                <div>
                    <ul id="achievement-log"></ul>
                </div>
            </div>
        </div>
    </div>

    <div id="game-game">
        <div id="gameCanvas" style="overflow:hidden;position:relative">
            <div id="gameRoot" style="position:relative"></div>
            <div id="game-overlay" class="loading"></div>
            <div id="gameDialogue" class="bordered-box"></div>
        </div>
    </div>
</div>
<script>
    g_smallValue = 0.000001; // fun with floats
    Environment.fapi.methodBasepath = '';

    var maps = ['landing'];
    var game = new Game({
        startMap: maps[UrlComponents.getValueOf('map') || 0],
        showEventLayers: UrlComponents.getValueOf('showEventLayers') === 'true',
        pathFindingGridSize: UrlComponents.isSet('verbosePF') ? 5 : 5,
        verbosePathFinder: UrlComponents.isSet('verbosePF'),
        usePathFinding: true,
        moonWalk: false,
        size: [800, 600]
    });
    game.run();

</script>
</body>
</html>
