html,body {
    font-family:Verdana,Helvetica,sans-serif;
    font-size:12pt;
    padding: 0;
    margin:0;
    height:100%
}
body{
    height:100%;
}

a:link, a:visited {
    background-color:inherit;
    color:#ff8400;;
    text-decoration:none;
}
a:active, a:hover {
    background-color:inherit;
    color:#ff6000;
    text-decoration:none;
}
a[href ^= "http"]:after {
    content: " " url("graphics/outlonk.png");
}
table {
    border-collapse: collapse;
}
#linkbar{
    border-bottom: 1px dashed coral;
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    padding: 5px;
    background: #f5f5f5;
}
#linkbar a{
    border-left: 1px dotted #d3d3d3;
    padding: 0 5px;
}

#admin-content{
    height: auto;
    position: absolute;
    width: auto;
    left:0; right:0;
    top: 40px; bottom: 0;
    display: block;
    margin: 0;
    padding: 0 10px;
}
#logout{
    float:right;
    height:20px;
    width: 25px;
    background: #f5f5f5;
    color:#f5f5f5;
    border:0 !important;
}
form table tr td{
    border-left: 1px dotted #d3d3d3;
    padding: 0 5px;
}

.list-backstepped, .list-backstepped a {
    color: #d3d3d3 !important;
}

.list-unpaid, .list-unpaid a {
    background-color: #ffc6c1;
}

.list-paid, .list-paid a {
    background-color: #e5ffc7;
}

.list-repaid, .list-repaid a {
    background-color: #1bffbe;
    color: grey !important;
}
.cost-table{
    padding: 5px;
}
.cost-table td{
	padding-left: 12px;
	padding-right: 12px;
}
.cost-table tr{

}
.cost-table tfoot{
	border-top: 1px dashed #222;
	border-bottom: 1px double
}
.cost-table-numeric{
	text-align:right;
}
.cost-table-invisible{
	border: 0;
}
.cost-table tfoot td{
    border-bottom: 1px solid #0c0c0c;
    border-top: 1px dashed #0c0c0c;
}

/* ----------- My Form ----------- */
.myform{
    margin:0 auto;
    width:400px;
    padding:14px;
}

/* ----------- stylized ----------- */
#stylized{
    border:solid 2px #b7ddf2;
    background:#ebf4fb;
}
#stylized h1 {
    font-size:1.5em;

    color:black;
    font-weight:bold;
    margin-bottom:8px;
}
#stylized p{
    font-size:11px;
    color:#666666;
    margin-bottom:20px;
    border-bottom:solid 1px #b7ddf2;
    padding-bottom:10px;
}
#stylized label{
    display:block;
    font-weight:bold;
    text-align:right;
    width:140px;
    float:left;
}
#stylized .small{
    color:#666666;
    display:block;
    font-size:11px;
    font-weight:normal;
    text-align:right;
    width:140px;
}
#stylized input, #stylized select, #stylized textarea{
    float:left;
    font-size:12px;
    padding:4px 2px;
    border:solid 1px #aacfe4;
    width:200px;
    margin:2px 0 20px 10px;
}
#stylized button{
    clear:both;
    margin-left:150px;
    width:125px;
    height:31px;
    background:#666666 url(img/button.png) no-repeat;
    text-align:center;
    line-height:31px;
    color:#FFFFFF;
    font-size:11px;
    font-weight:bold;
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0;
    padding:15px 10px 15px 10px;
    width: 800px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}