<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
<head>
    <title>{title}</title>
    {headers}
    <link href="../view/print_style.css" rel="stylesheet" />
</head>
<body>

<!-- Jaaaa... Tabellenfoo! Aber anders geht es einfach nicht! -->
<table width="100%">
    <thead>
    <tr>
        <th class="header">{header}</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <td width="100%">
            <table width="100%">
                <tr>
                    <td><br>&nbsp;</td>
                </tr>
            </table>
    </tfoot>
    <tbody>
    <tr>
        <td width="100%" style="padding-top: 10pt">

            {text}
        </td>
    </tr>
    </tbody>
</table>

<table id="footer" width="100%">
    <tr>
        <td width="100%">
            {footer}
        </td>
    </tr>
</table>
</body>
</html>