/* ----------- My Form ----------- */
.myform {
    margin: 0 auto;
    width: 600px;
    padding: 14px;
}

/* ----------- stylized ----------- */
#stylized {
    border: 1px solid #b7ddf2;
    padding: 30px 50px;
}

#stylized h1 {
    font-size: 1.5em;
    color: black;
    font-weight: bold;
    margin-bottom: 8px;
}

#stylized p {
    font-size: 11px;
    color: #666666;
    margin-bottom: 20px;
    border-bottom: 1px solid #b7ddf2;
    padding-bottom: 10px;
}

#stylized label {
    font-weight: bold;
    text-align: left;
    width: 140px;
}

#stylized .small {
    color: #666666;
    font-size: 11px;
    font-weight: normal;
    text-align: right;
    width: 140px;
}

#stylized input, #stylized select, #stylized textarea {
    font-size: 13px;
    padding: 10px 0 10px 5px;
    border: 1px solid #aacfe4;
    width: 100%;
    margin: 5px 0 20px 0;
    background-color: inherit;
}

#stylized button {
    display: block;
    margin: 50px auto 10px auto;
    width: 250px;
    height: 50px;
    background: #da4cad;
    text-align: center;
    line-height: 31px;
    color: #0912bc;
    font-size: 15px;
    font-weight: bold;
    border: 3px solid #39ff00;
    cursor: pointer;
}

#stylized .fieldbox {
    width: 100%;
    margin: 0 auto;
}